<div class="card mb-4 shadow-sm">
  <img class="card-img-top card-imagen" data-src="" alt="Campañas [100%x225]" [src]="datoPublicacion.img" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
  <div class="card-body">
    
    <h5 class="card-title">{{datoPublicacion.titulo}}</h5>
    <p class="card-text">{{datoPublicacion.descripcion}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#ModalInformacionCampania">Mas Información</a>
      </div>
      <small class="text-muted">{{datoPublicacion.fecha}}</small>
    </div>
  </div>
</div>

