<div class="card-body text-info"  style="background: rgba(0,0,0,0.8);">
    <div class="card-text row">
      <div class="col-3 col-md-3 pt-2">
        <span class="icon-hospital-o" style="font-size: 5em;"></span>
      </div>
      <div class="col-9 col-md-9" class="wow slideInRight" >
        <div class="mx-3">
          <h5 class="">{{datoPublicacion.nombre}}</h5>
          Av. Viacha Nro 3993 <br>
          <br>
          <span class="icon-phone"></span>Telefono: 2234326  
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <!--<button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>-->
      </div>
      <small class="text-muted">horario de apertura 9:00 am</small>
    </div>
    
    <br>
    <div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.6026512410203!2d-68.2026528858616!3d-16.54614588858783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915ededcfcb8eda5%3A0xe1421c1779b1da3f!2sHospital+Municipal+Modelo+Corea!5e0!3m2!1ses!2sbo!4v1545147527527" width="100%" height="300" frameborder="4" style="border:0" allowfullscreen></iframe>
    </div>
  </div>